*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;}


body {
    background-color: rgba(184, 163, 248, 0.314);
}

.weatherHeader {
    background-color: black;
    padding: 8px;
}

.weatherDashboardContainer {
    display: flex;
    justify-content: center;
}

.weather {
    color: white
}

.dashboard {
    color: rgb(17, 215, 255);
}

.citySearchContainer {
    padding: 5px;
}

.warningMessage {
    color: red;
}

.hidden {
    display: none;
}

.cityHeader {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 5px;

}

h1 {
    margin-bottom: 0px;
}

.weatherForecast {
    display: flex;
    flex-wrap: wrap;
}

.forecastCard {
    background-color: black;
    color:white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;

    max-width:200px;
    
    /* justify-content: center;
    align-items: center; */
}

.forecastCardHeader {
    display: flex;
    background-color:  rgb(184, 184, 236);
}

.searchHistory {
    /* background-color: black; */
    padding: 5px;
    
}

.historyButtonContainer {
    padding-bottom: 10px;
}

.container {
    width: 100%;
    max-width: none;
    
}